{% extends 'base/base.html' %}
{% load static %}
{% block title %}Site do Rafa - Aperitivo{% endblock title %}
{% block description %} Página com todos os vídeos gratuitos{% endblock description %}
{% block body %}

<!DOCTYPE html>
<html lang="pt-br">
  <head>
		  <!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-MBBM3SG');</script>
	<!-- End Google Tag Manager -->

	  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-177540018-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-177540018-1');
	</script>
	  <div class="container">
		  	<div class="row">
		<div class="col-md-12">
			<h1>Lista de Vídeos Aperitivos</h1>
			<ol>
				{% for video in videos %}
				<li><a href="{{video.get_absolute_url}}">{{ video.titulo | default:"Faltando Título"}}</a></li>
				{% empty %}
					<li> Não foi encontrado nenhum vídeo de apertivo</li>
				{% endfor %}
			</ol>
		</div>
    </div>
    </div>
	  {% endblock body %}

