 <footer class="main-footer mt-5 pt-4">
	  <div class="container">
		  <div class="row">
			  <div class="col">
				  <h5>Entre em Contato</h5>
				  <address>
					  <br/>
					  <a href="mailto:{{contato_email}}">rafael1717yy@gmail.com</a>
				  </address>

			  </div>
		  </div>
	  </div>
	  <div class="rights pb-4 text-light"></div>
	  <div class="container">
		  <div class="row">
			  <div class="col">
				  {% now 'Y' %} Site do Rafa. Todos os direitos reservados.
			  </div>
		  	</div>
	  </div>


  </footer>